@import '../utils/theme.scss';

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
.signin-form {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  > :not(:first-child) {
    margin-top: 20px;
  }
}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Set a style for all buttons */
  button {
    background-color: black;
    color: $blue-green;
    padding: 14px 20;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .login-button {
    background-color: #04AA6D;
    color: black;
    padding: 14px 20;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  p {
    // background-color: #04AA6D;
    color: black;
    padding: 14px 20;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: inline;
  }
  
