@import '../utils/theme.scss';

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}
  
.content-container.auth {
	height: 90%;
	grid-template-columns: [l] 30% [c] 40% [r] 30%;
	grid-template-rows: [t] 20% [m] 60% [b] 20%;
}

.auth-container {
	grid-column: c;
	grid-row: m;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth-form {
	width: 75%;
	padding: 20px;
	display: flex;
	flex-direction: column;

	> :not(:first-child) {
		margin-top: 20px;
	}
}

.forgot-form {
	width: 30%;
	padding: 20px;
	display: flex;
	flex-direction: column;

	> :not(:first-child) {
		margin-top: 20px;
	}
}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.checkbox{
    float: left;
}
  
/* Set a style for all buttons */
button {
    background-color: black;
    color: $blue-green;
    padding: 14px 20;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-button {
	background-color: #04AA6D;
	color: black;
	padding: 14px 20;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%
}
.signin,
.signup{
	background-color: white;
	color: black;
	padding: 14px 20;
	margin: 8px 0;
	border: 1px solid lightgray;
	cursor: pointer;
	width: 200px;
	display: inline;
	flex-direction: row;
}
.signin {
	margin-right: 5px;
}
.signup {
	margin-left: 5px;
}
.divider {
	font-size: 15px;
	display: flex;
	align-items: center;
}

.divider::before, .divider::after {
	flex: 1;
	content: '';
	padding: 1px;
	background-color: lightgray;
	margin: 3px;
}
  
