@import '../utils/theme.scss';

.catch-container{
    width:100%;
    height:auto;
    display:flex;
    background-color: $blue-green;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;

    .image-class{
        width: 50%;
        height: auto;
        overflow: hidden;
        margin: 20px;
    }
}
.form-container{
    background-color: $blue-green;
    height:100%;
    width:fit-content;
    display: flex;
    flex-direction: column;

    // margin-left: 200px;
    padding: 20px;
    // margin-top:40px;
    align-items: right;
    font-size: 40px;

    label{
        width:fit-content;

    }
    .input{
        border: 1px black;
        margin: 20px;
        width: 50%;
    }
}