@import '../utils/theme.scss';

.nav {
	font-size: 1.2rem;
	height: 10%;
	width: 100%;
  	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		width: 400px;
		display: flex;
		justify-content: space-evenly;
	}
	
	h1 {
		all: unset;
		cursor: pointer;
		font-size: 2rem;
		padding-left: 30px;
	}

	svg {
		padding-right: 30px;
	}

	box-shadow: inset 0px -1px 2px $tiffany-blue, 0 2px 6px -2px black; //popout look
}