@import '../utils/theme.scss';

.nav {
	font-size: 1.2rem;
	height: 10%;
	width: 100%;
  	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		width: 400px;
		display: flex;
		justify-content: space-evenly;
	}
	
	h1 {
		all: unset;
		cursor: pointer;
		font-size: 2rem;
		padding-left: 30px;
	}

	> a > svg {
		padding-right: 30px;
	}

	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}